<html>
    <head>
        <title>CFLOREADA's BLOG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">¡Bienvenides!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Los invito a conocer mi mundo</p>
        </div>

        <div>
            <p>published: 04.12.2019, 17:00</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Blog desarrollado en el marco de la PyConAr</p>
        </div>
    </body>
</html>